.filter-section {
    padding: 2rem;
}

.filter-head {
    color: #525252;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}

.color-filter-items {
    display: flex;
    gap: 4px;
}

.filter-items {
    padding-bottom: 2rem;
    border-bottom: 1px solid #e5e5e5 ;
}