.filter-section {
  padding: 2rem;
}

.filter-head {
  color: #525252;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}

.color-filter-items {
  display: flex;
  gap: 4px;
}

.filter-items {
  padding-bottom: 2rem;
  border-bottom: 1px solid #e5e5e5;
}

.hide-items {
  /* A screen reader friendly style */
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
